@{
    ViewBag.Title = "Entre em contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Telefone Para contato:</abbr>
    953697602
</address>
<address>
    <strong>Email:</strong>   <a href="Eco@gmail.com">Eco@gmail.com</a><br />
</address>