@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="~/Imagem/images/imagem1.jpg" alt="" title="" id="wows1_0" /></li>
                <li><img src="~/Imagem/images/imagem2.jpg" alt="" title="" id="wows1_1" /></li>
                <li><img src="~/Imagem/images/imagem3.jpg" alt="" title="" id="wows1_2" /></li>
                <li><img src="~/Imagem/images/imagem4.jpg" alt="" title="" id="wows1_3" /></li>
                <li><img src="~/Imagem/images/imagem5.jpg" alt="" title="" id="wows1_4" /></li>
                <li><img src="~/Imagem/images/imagem6.jpg" alt="" title="" id="wows1_5" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem1.jpg" alt="" />1</a>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem2.jpg" alt="" />2</a>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem3.jpg" alt="" />3</a>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem4.jpg" alt="" />4</a>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem5.jpg" alt="" />5</a>
                <a href="#" title=""><img src="~/Imagem/tooltips/imagem6.jpg" alt="" />6</a>
            </div>
        </div>
        <a class="wsl" href="http://wowslider.com"></a>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="~/Scripts/wowslider.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
         
    </div>
    <div class="col-md-4">
        
    </div>
</div>